{% extends 'base.html' %}
{% block content %}


<h1>Assignments</h1>

<!--<ul>-->
    {% for assignment in object_list %}
    <hr>
<!--    <li>-->
        <a href="{% url 'assignment-detail' assignment.pk %}">
            {{ assignment.name }}
        </a> - <b>{{ assignment.task }} </b>
        -
        <small>
            <a href="{% url 'update_assignment' assignment.pk %}">
                (Edit)
            </a>
        </small>
        -
        <small>
            <a href="{% url 'delete_assignment' assignment.pk %}">
                (Delete)
            </a>
        </small>
        <br/>
        <b>Grade: </b><br/>{{ assignment.grade }}</br>
        <b>Weight: </b>
        <div class="weight">{{ assignment.weight }}</div>
        <b>Weighted Grade: </b>
        <div class="weightedGrade">{% widthratio assignment.grade 100 assignment.weight %}</div>
<!--    </li>-->
    {% endfor %}
<!--</ul>-->
<hr>

<b>Assignments:</b> {{ object_list|length }}
<br/><br/>

<b>Grade:</b> <div id="average"></div>
<br/><br/>

<button class="btn btn-primary" onclick="handleOnClick()">Calculate Grade</button>

{% endblock %}