{% extends 'base.html' %}
{% block content %}


<h1>Assignments</h1>

<!--<ul>-->
    {% for assignment in object_list %}
    <hr>
<!--    <li>-->
        <a href="{% url 'assignment-detail' assignment.pk %}">
            {{ assignment.name }}
        </a> - <b>{{ assignment.task }} </b>
        -
        <small>
            <a href="{% url 'update_assignment' assignment.pk %}">
                (Edit)
            </a>
        </small>
        -
        <small>
            <a href="{% url 'delete_assignment' assignment.pk %}">
                (Delete)
            </a>
        </small>
        <br/>
        <b>Grade: </b>{{ assignment.grade }}
        <b>Weight: </b>{{ assignment.weight }}
<!--    </li>-->
    {% endfor %}
<!--</ul>-->
<hr>

<!--{{ object_list|length }}-->

{% endblock %}